.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  padding: 20px;
}
.not-found-img {
  width: 400px;
}

.not-fount-heading {
  color: white;
  font-weight: normal;
}

.not-found-para {
  color: #cbd5e1;
}

@media (max-width: 767px) {
  .not-found-img {
    width: 200px;
  }

  .not-fount-heading {
    color: white;
    font-weight: normal;
    font-size: 20px;
  }

  .not-found-para {
    color: #cbd5e1;
    font-size: 12px;
  }
}
